{% for title, inspiration in items %}
  <div class="facts-box__inspiration-group">
    <div class="facts-box__inspiration-title">{{ title|raw }}</div>
    {% for article in inspiration %}
      {{ article }}
    {% endfor %}
  </div>
{% endfor %}
