.blog-post {
  .all-writers {
    .facts-box {
      height: calc(100% - 40px);
      overflow: hidden;
    }
  }

  .view-all-writers-link {
    display: flex;
    text-decoration: underline;

    &.hidden {
      visibility: hidden;
    }

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }

    svg {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      padding-top: 10px;
    }
  }

  &--view-all-writers {
    display: none;
    margin-top: 25px;

    &.expanded {
      display: block;
    }

    &--title {
      display: flex;
      justify-content: flex-end;

      & h3 {
        flex: 75%;
      }

      .hide-all-writers-link {
        flex: 25%;
        text-align: right;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
          cursor: pointer;
        }

        svg {
          width: 20px;
          height: 20px;
          margin-left: 5px;
          transform: rotate(180deg);
        }
      }
    }
  }

  &__date {
    padding: var(--half-gutter-width-mobile) 0;

    @media (--viewport-md-min) {
      padding: var(--half-gutter-width) 0;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
