/**
 * Type: Molecules.
 * Logo.
 */

.logo {
  z-index: 3;
  margin-right: auto;

  &__image {
    display: block;
    width: 154px;
    height: auto;
    margin: 0 auto;

    @media (--viewport-ms-min) {
      width: 134px;
    }

    @media (--viewport-sm-min) {
      width: 194px;
    }
  }
}
