.searchfield {
  &-search {
    display: flex;
    max-width: 210px;
    margin: auto;

    &__input-field {
      position: relative;
      margin: auto !important;
      width: 50%;
      height: 42px;
      padding: 11px 50px 11px 20px;
      background: var(--color-white);
      border: 1px solid var(--color-blue);
      border-radius: 24px;

      & .input {
        height: 100%;
        padding: 0;
        font-size: var(--base-font-size-small);
        border: none;
      }
    }

    &__submit {
      position: absolute;
      top: 3px;
      right: 3px;
      width: 34px;
      height: 34px;
      padding: 10px;
      background: var(--color-blue);
      border-radius: 50%;
      cursor: pointer;

      & svg.icon {
        width: 14px;
        height: 14px;
        fill: var(--color-white);
      }
    }

    form {
      position: relative;
    }
  }
}
