/**
 * Type: Molecules.
 * Section graphics.
 */

.section-bg-graphics {
  &__image {
    position: absolute;
    top: 0;
    z-index: -1;
    display: none;

    .section & {
      top: 30px;

      @media (--viewport-xl-min) {
        top: 50px;
      }
    }

    @media (--viewport-sm-min) {
      display: block;
    }

    &--birds {
      width: 253px;
    }

    &--branches {
      width: 350px;
    }

    &--butterflies {
      width: 240px;
    }

    &--clouds {
      width: 300px;
    }

    &--deer {
      width: 180px;
    }

    &--dragonfly {
      width: 180px;
    }

    &--duck {
      width: 180px;
    }

    &--fish {
      width: 190px;
    }

    &--helicopters {
      width: 300px;
    }

    &--rainbow {
      width: 300px;
    }

    &--reeds {
      width: 240px;
    }

    &--sea {
      width: 265px;
    }

    &--vortex {
      width: 300px;
    }

    &--wind {
      width: 425px;
    }
  }

  &__position {
    &--right {
      &.section-bg-graphics__image--birds {
        right: -27px;
      }

      &.section-bg-graphics__image--branches {
        right: -100px;
      }

      &.section-bg-graphics__image--butterflies {
        right: 0;
      }

      &.section-bg-graphics__image--clouds {
        right: -40px;
      }

      &.section-bg-graphics__image--deer {
        right: -10px;
      }

      &.section-bg-graphics__image--dragonfly {
        right: 0;
      }

      &.section-bg-graphics__image--duck {
        right: -10px;
      }

      &.section-bg-graphics__image--fish {
        right: 0;
      }

      &.section-bg-graphics__image--helicopters {
        right: 0;
      }

      &.section-bg-graphics__image--rainbow {
        right: -30px;
      }

      &.section-bg-graphics__image--reeds {
        right: -80px;
      }

      &.section-bg-graphics__image--sea {
        right: -25px;
      }

      &.section-bg-graphics__image--vortex {
        right: -30px;
        transform: scaleX(-1);
      }

      &.section-bg-graphics__image--wind {
        right: 0;
      }
    }

    &--left {
      transform: scaleX(-1);

      &.section-bg-graphics__image--birds {
        left: -27px;
      }

      &.section-bg-graphics__image--branches {
        left: -100px;
      }

      &.section-bg-graphics__image--butterflies {
        left: 0;
      }

      &.section-bg-graphics__image--clouds {
        left: -40px;
      }

      &.section-bg-graphics__image--deer {
        left: -10px;
      }

      &.section-bg-graphics__image--dragonfly {
        left: 0;
      }

      &.section-bg-graphics__image--duck {
        left: -10px;
      }

      &.section-bg-graphics__image--fish {
        left: 0;
      }

      &.section-bg-graphics__image--helicopters {
        left: 0;
      }

      &.section-bg-graphics__image--rainbow {
        left: -30px;
      }

      &.section-bg-graphics__image--reeds {
        left: -80px;
      }

      &.section-bg-graphics__image--sea {
        left: -25px;
      }

      &.section-bg-graphics__image--vortex {
        left: -30px;
        transform: scaleX(1);
      }

      &.section-bg-graphics__image--wind {
        left: 0;
      }
    }
  }
}

.section--background-graphics:not(.theme) {
  position: relative;
  @media (--viewport-sm-min) {
    overflow: hidden;
  }
}
