/**
 * Type: Molecules.
 * Sub navigation.
 */

.sub-navigation {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-blue-light);
  box-shadow: 0 25px 50px 0 rgb(0 0 0 / 10%);
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  transition: all .3s;
  will-change: transform;

  &__list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-top: 48px;
    padding-bottom: 48px;
    transition: opacity .3s;

    &.fade-enter,
    &.fade-leave-to {
      opacity: 0;
    }

    &.fade-enter-to,
    &.fade-leave {
      opacity: 1;
    }
  }

  &__item {
    display: flex;
    flex: 1 0 calc(100% / 4);
    padding: 20px 16px 20px 0;
    color: var(--color-primary);
    font-weight: 700;
    font-size: var(--base-font-size);
    text-decoration: none;

    &:nth-child(n+7) {
      flex-grow: 0;
      border-top: 0;
    }

    .icon--arrow-right {
      width: 22px;
      height: 22px;
      margin-left: 10px;
      padding: 5px;
      transition: transform .3s;
      will-change: transform;
      fill: var(--color-primary);
    }

    &:hover,
    &:focus {
      .icon--arrow-right {
        transform: translateX(5px);
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
