<ul class="almanac__list">
  {% for almanac in almanacs %}
    {%
      set classes = [
        almanac['#active'] ? 'almanac--active'
      ]
    %}
    <li{{ attributes.addClass(classes) }}>{{ almanac }}</li>
  {% endfor %}
</ul>
