<div class="organization-overview">
  {{ title }}
  <div id="organization_overview_wrapper" class="organization-overview__wrapper">
    <div class="row">
      {{ entities }}
    </div>
  </div>
</div>

