{{ attach_library('sis/inspiration-overview') }}
<section class="section section--spacing-top-medium section--spacing-bottom-none js-term-overview">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div{{ attributes.addClass('inspiration-overview__term') }}>
          {{ entities|without('breadcrumbs') }}
        </div>
      </div>
    </div>
  </div>
</section>
