/**
 * Type: Base.
 * Form styling inside wrapper.
 */

.premium-layout-wrapper {
  @nestedimport "./assets/components/css/components/01-particles/button.css";
  @nestedimport "./assets/components/css/components/01-particles/checkbox.css";
  @nestedimport "./assets/components/css/components/01-particles/fieldset.css";
  @nestedimport "./assets/components/css/components/01-particles/input.css";
  @nestedimport "./assets/components/css/components/01-particles/label.css";
  @nestedimport "./assets/components/css/components/01-particles/radio.css";
  @nestedimport "./assets/components/css/components/01-particles/select.css";
  @nestedimport "./assets/components/css/components/01-particles/textarea.css";

  .form-item {
    position: relative;
    margin-bottom: 15px;

    .filter-wrapper {
      margin-top: -15px;
    }
  }

  .form-item .description {
    margin-top: 5px;
    margin-bottom: 15px;
    opacity: .5;
  }

  .form-actions {
    margin-top: 15px;

    .button + .button {
      margin-left: 5px;
    }
  }

  .layout-container {
    margin: 0;
  }

  .user-pass,
  .user-login-form {
    max-width: 816px;
    margin: 40px auto;
    padding-right: 15px;
    padding-left: 15px;
  }
}

#edit-field-factboxes {
  margin-bottom: 25px;
}

.js-filter-guidelines {
  display: none;
}

#edit-field-institution-0-format {
  display: none;
}

.js-filter-wrapper {
  display: none;
}

.node-edit-form {
  &__title {
    #block-pageheader {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}

.entities-list {
  input {
    width: 100%;
  }
}

.search-wrapper {
  position: relative;

  input[type="search"] {
    padding: 0 34px 0 10px;
  }

  .search__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    padding: 6px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

    & svg.icon {
      width: 18px;
      height: 18px;
      fill: #3d2859;
    }
  }
}
