/**
 * Type: Base.
 * Modal styling.
 */

body {
  height: 100vh;
}

.ui-dialog:not(.ui-dialog-position-side):not(.ui-dialog.article-modal) {
  position: fixed !important; /* stylelint-disable-line declaration-no-important */
  top: 50% !important; /* stylelint-disable-line declaration-no-important */
  left: 50% !important; /* stylelint-disable-line declaration-no-important */
  height: 82% !important; /* stylelint-disable-line declaration-no-important */
  margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
  transform: translate(-50%, -50%);

  .ui-dialog-content {
    min-height: calc(100% - 56px) !important; /* stylelint-disable-line declaration-no-important */
    max-height: calc(100% - 56px) !important; /* stylelint-disable-line declaration-no-important */
  }
}

.ui-widget-overlay {
  background: var(--color-black);
  opacity: .8;
}

#layout-builder-modal {
  .js-media-library-selection {
    .js-media-library-item {
      margin: 10px 0;

      .js-form-type-number {
        margin: 0 0 20px;

        label {
          display: block;
        }
      }

      input.js-form-submit {
        float: right;
      }
    }
  }

  .section-form {
    padding-top: 0 !important; /* stylelint-disable-line declaration-no-important */
    padding-bottom: 0 !important; /* stylelint-disable-line declaration-no-important */
  }
}

.layout-builder .layout-builder__add-section {
  z-index: 10;
}

#layout-builder-modal .form-composite > legend,
#layout-builder-modal .label {
  display: table;
}

.js-text-format-wrapper {
  .filter-wrapper {
    margin: -.75em 0 0;
    overflow: visible;
  }
}

.entity-browser-modal {
  margin-top: -200px !important; /* stylelint-disable-line declaration-no-important */
}

.ui-dialog .ajax-progress-throbber {
  position: relative !important; /* stylelint-disable-line declaration-no-important */
  top: auto !important; /* stylelint-disable-line declaration-no-important */
  left: auto !important; /* stylelint-disable-line declaration-no-important */
  width: 40px;
  height: 40px;
  padding: 0 !important; /* stylelint-disable-line declaration-no-important */
  background: none !important; /* stylelint-disable-line declaration-no-important */
  border: 0 solid white !important; /* stylelint-disable-line declaration-no-important */
  box-shadow: none !important; /* stylelint-disable-line declaration-no-important */
}
