/**
 * Type: Base.
 * Modal styling.
 */

body {
  height: 100vh;
}

.ui-dialog:not(.ui-dialog-position-side):not(.ui-dialog.article-modal) {
  /* stylelint-disable */
  top: 50% !important;
  left: 50% !important;
  height: 80% !important;
  margin-top: 0 !important;
  transform: translate(-50%, -50%);

  .ui-dialog-content {
    max-height: calc(100% - 46px) !important;
    min-height: calc(100% - 46px) !important;
  }
  /* stylelint-enable */
}

.ui-widget-overlay {
  background: var(--color-black);
  opacity: 0.8;
}

#layout-builder-modal {
  .js-media-library-selection {
    .js-media-library-item {
      margin: 10px 0;

      .js-form-type-number {
        margin: 0 0 20px;

        label {
          display: block;
        }
      }

      input.js-form-submit {
        float: right;
      }
    }
  }

  .section-form {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.layout-builder .layout-builder__add-section {
  z-index: 10;
}

#layout-builder-modal .form-composite > legend,
#layout-builder-modal .label {
  display: table;
}

.js-text-format-wrapper {
  .filter-wrapper {
    margin: -.75em 0 0;
    overflow: visible;
  }
}

.entity-browser-modal {
  margin-top: -200px !important;
}
