/**
 * @file
 * Rules for heading/p/ul tags.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: var(--heading-font-weight);
  font-family: var(--heading-font-family);
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

h1 {
  font-size: var(--base-font-size-xxlarge);
  line-height: 1;

  @media (--viewport-ms-min) {
    font-size: var(--base-font-size-xxxlarge);
  }

  @media (--viewport-sm-min) {
    font-size: var(--base-font-size-xxxxlarge);
  }
}

h2 {
  font-size: var(--base-font-size-xlarge);
  line-height: 1.2;

  @media (--viewport-ms-min) {
    font-size: var(--base-font-size-xxxlarge);
  }

  @media (--viewport-sm-min) {
    font-size: var(--base-font-size-xxxlarge);
  }
}

h3 {
  font-size: var(--base-font-size-xxlarge);
  line-height: 1.2;

  @media (--viewport-ms-min) {
    font-size: var(--base-font-size-xlarge);
  }

  @media (--viewport-sm-min) {
    font-size: var(--base-font-size-xxlarge);
  }
}

h4 {
  font-size: var(--base-font-size-large);
  line-height: 1.2;

  @media (--viewport-sm-min) {
    font-size: var(--base-font-size-xlarge);
  }
}

h5 {
  font-size: var(--base-font-size);
}

p {
  margin-top: 0;

  &.resume {
    font-size: var(--base-font-size-large);
    font-family: var(--base-font-family);
  }
}

.large-text {
  font-size: var(--base-font-size-large);
}

.xlarge-text {
  font-size: var(--base-font-size-xlarge);
}

.headline {
  font-weight: var(--heading-font-weight);
  font-size: var(--base-font-size-xxxxlarge);
  font-family: var(--heading-font-family);
  line-height: 1;
  text-align: center;
}
