/**
 * Type: Organisms.
 * Accordion.
 */

.accordion {
  position: relative;
  width: 100%;

  &__headline {
    margin-bottom: 25px;
  }

  &__items + .button {
    margin-top: 20px;
  }
}

.accordion-item {
  color: var(--theme-accordion-text-color);
  background-color: var(--theme-accordion-background-color);
  box-shadow: 0 4px 30px rgb(131 131 131 / 25%);

  &.hide {
    display: none;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &__headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    padding: 10px 30px;
    cursor: pointer;

    &.active {
      .accordion-item__icon::after {
        margin-top: 5px;
        transform: rotate(-135deg);
      }
    }
  }

  &__title {
    margin-bottom: 0;
    padding-right: 20px;
    font-weight: 500;
    font-size: var(--base-font-size-large);
    line-height: 1.3;
  }

  &__icon {
    position: relative;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    margin-top: -7px;
    background-color: var(--color-green);
    border-radius: 22px;

    &::after {
      position: absolute;
      top: 12px;
      left: 15px;
      flex-shrink: 0;
      width: 14px;
      height: 14px;
      margin-top: -7px;
      border: 2px solid var(--color-white);
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg);
      transition: transform .2s;
      content: "";
    }
  }

  &__text {
    height: 0;
    font-size: 0;
    word-break: break-word;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__content.active {
    padding: 0 30px 20px;

    .accordion-item__text {
      height: auto;
      font-size: var(--base-font-size);
      visibility: visible;
      opacity: 1;
    }
  }
}
