/**
 * @file
 * Burger menu.
 */

.burger-menu--overlay {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  height: 100%;
  transition-duration: .3s;
  transition-property: transform, box-shadow;

  .toolbar-horizontal &,
  .toolbar-vertical & {
    top: 39px;
  }

  .toolbar-horizontal.toolbar-tray-open & {
    top: 79px;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: var(--color-black);
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s;
    transition-delay: .1s;
    content: "";
    pointer-events: none;
  }

  &__active {
    width: 100%;
    transform: translate3d(-100%, 0, 0);

    @media (--viewport-ms-min) {
      transform: translate3d(-320px, 0, 0);
    }

    @media (--viewport-md-min) {
      transform: translate3d(-350px, 0, 0);
    }

    &::before {
      opacity: .3;
      pointer-events: all;
    }
  }
}

.burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background: var(--color-gray-light);
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
  transform: translate3d(100%, 0, 0);

  @media (--viewport-ms-min) {
    width: 320px;
  }

  @media (--viewport-md-min) {
    width: 350px;
  }
}

.burger-nav::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 30px;
  content: "";
}

.burger-nav-item {
  position: relative;
  display: block;

  a {
    display: flex;
    align-items: center;
    margin: 0 90px 0 45px;
    padding: 13px 0;
    color: var(--color-gray-dark);
    font-weight: var(--base-font-weight);
    font-size: var(--base-font-size-small);
    font-family: var(--base-font-family);
    line-height: 20px;
    text-decoration: none;

    svg {
      margin-right: 8px;
    }
  }
}

.burger-nav-item--mobile-header {
  padding: 13px 45px;
  color: var(--color-gray-dark);
  font-weight: var(--heading-font-weight);
  font-size: var(--base-font-size-small);
  font-family: var(--heading-font-family);
  line-height: 20px;
  text-decoration: none;
}

.burger-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 200%;
  margin: 0;
  padding: var(--header-height-mobile) 100% 0 0;
  overflow: hidden;
  overflow-y: auto;
  list-style-type: none;
  transition: left .3s ease 0s;

  &--level-0,
  &__open {
    left: 0;
    overflow-y: visible;
  }

  &--level-0 {
    position: relative;
    top: auto;
    bottom: auto;

    & > .burger-nav-item > a {
      font-weight: var(--heading-font-weight);
    }
  }

  &--level-1 {
    z-index: 1;
    padding-left: 30px;

    &::before {
      background: var(--color-gray-medium);
    }
  }

  &--level-2 {
    z-index: 2;
    padding-left: 30px;

    &::before {
      background: var(--color-gray-medium-2);
    }
  }

  &--level-3 {
    z-index: 3;
    padding-left: 30px;

    &::before {
      background: var(--color-gray);
    }
  }

  &__parent {
    & > .burger-nav-item--arrow-left {
      pointer-events: none;
    }
  }
}

.quick-links__list {
  position: relative;
  margin-top: 15px;
  padding: 20px 45px var(--header-height-mobile);
  list-style-type: none;

  &::before {
    position: absolute;
    top: 0;
    right: 45px;
    left: 45px;
    height: 1px;
    background-color: var(--color-gray-medium-2);
    content: "";
  }

  @media (--viewport-md-min) {
    padding: 20px 45px var(--header-height);
  }
}

.quick-links__item {
  position: relative;
  display: block;

  a {
    position: relative;
    display: block;
    padding: 8px 0;
    color: var(--color-gray-dark);
    font-weight: var(--base-font-weight);
    font-size: var(--base-font-size-small);
    font-family: var(--base-font-family);
    line-height: 20px;
    text-decoration: none;
  }
}

.burger-menu--close {
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 10;
  width: 32px;
  height: 32px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;

  & span {
    position: absolute;
    left: 3px;
    display: block;
    width: 24px;
    height: 2px;
    background: var(--color-gray-dark);
    border-radius: 2px;
    transition: all .2s ease-in-out;

    &:nth-child(1) {
      top: 15px;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      top: 15px;
      transform: rotate(-45deg);
    }
  }
}

.burger-nav-item--arrow-right {
  position: absolute;
  top: 3px;
  right: 45px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0 10px;
  background: var(--color-pink);
  border-radius: 50%;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -2px;
    border-top: 2px solid var(--color-purple);
    border-right: 2px solid var(--color-purple);
    transform: translate(-50%, -50%) rotate(45deg);
    content: "";
  }
}

.burger-nav-item--arrow-left {
  position: absolute;
  top: calc(var(--header-height-mobile) + 3px);
  left: 10px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0 7px 0 8px;
  background: var(--color-pink);
  border-radius: 50%;
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
  cursor: pointer;

  @media (--viewport-md-min) {
    top: calc(var(--header-height) + 3px);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 12px;
    height: 12px;
    margin-left: 2px;
    border-bottom: 2px solid var(--color-purple);
    border-left: 2px solid var(--color-purple);
    transform: translate(-50%, -50%) rotate(45deg);
    content: "";
  }
}
