/**
 * Type: Organisms.
 * Footer.
 */

.footer {
  position: relative;

  &__header {
    font-size: var(--base-font-size-xlarge);
    font-weight: var(--heading-font-weight);
    font-family: var(--heading-font-family);
    margin-bottom: 10px;
  }

  &__graphic {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
    margin-bottom: -20px;

    @media (--viewport-md-min) {
      margin-top: -80px;
    }
  }

  &-some-header {
    margin-left: 3px;
  }

  &-some-icons {
    display: flex;
    margin-top: 16px;
    margin-bottom: 20px;
    margin-left: 3px;

    & > a:not(:first-child) {
      margin-left: 19px;
    }

    &__icon {
      & .icon {
        width: 39px;
        height: 39px;
      }
    }
  }

  &__col2__description {
    margin-left: 3px;
    font-size: 18px;
  }

  &__inner {
    position: relative;
    padding-bottom: 0;

    @media (--viewport-md-min) {
      padding-bottom: var(--grid-section-spacing);
    }

    & h2 {
      font-size: var(--base-font-size-xlarge);
    }

    &.section.theme a {
      color: var(--color-white);
    }

    .col-xs-12 {
      margin-bottom: 50px;

      @media (--viewport-md-min) {
        margin-bottom: 0;
      }
    }
  }

  .almanac__list-navigation-arrow {
    background-color: var(--color-pink);

    &::after {
      border-color: var(--color-purple);
    }
  }

  form.newsletter-form {
    .field-item {
      margin-bottom: 12px;

      &.field-gdpr {
        input[type="checkbox"] {
          display: none;
        }

        label {
          position: relative;
          display: block;
          padding-left: 35px;
          cursor: pointer;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 25px;
            height: 25px;
            background: var(--color-white);
            border-radius: 4px;
            content: "";
          }

          & span {
            position: absolute;
            top: 6px;
            left: 3px;
            display: none;
            width: 19px;
            height: 10px;
            border-bottom: 3px solid var(--color-purple);
            border-left: 3px solid var(--color-purple);
            transform: rotate(-45deg) scale(1);
            content: "";
          }
        }

        input[type="checkbox"]:checked + span {
          display: block;
        }
      }
    }
  }

  &__bottom {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--color-white);
    background-color: var(--color-green-dark);

    &-logo,
    &-address,
    &-links {
      align-self: center;
    }

    &-address,
    &-links {
      padding-top: 10px;
    }

    &-logo {
      display: flex;

      .logo {
        margin-left: auto;

        @media (--viewport-md-min) {
          margin-left: 0;
        }
      }

      .logo__image {
        height: 41px;
        margin: 0;
      }
    }

    &-address {
      text-align: center;
    }

    &-links {
      font-size: var(--base-font-size-small);
      text-align: center;

      @media (--viewport-sm-min) {
        text-align: right;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          display: inline-flex;
          padding-left: 25px;

          a {
            color: var(--color-white);
          }
        }
      }
    }
  }

  @media print {
    display: none;
  }
}
