/**
 * Type: Organisms.
 * Footer.
 */

.footer {
  position: relative;

  & .footer-col1-latest-articles {
    margin-bottom: 16px;

    &__content-type {
      font-weight: 400;
      font-size: 14px;
    }

    &__article-name {
      font-weight: 700;
      font-size: 16px;
    }
  }

  &__graphic {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
    margin-bottom: -20px;

    @media (--viewport-md-min) {
      margin-top: -80px;
    }
  }

  &-some-header {
    margin-left: 3px;
  }

  &-some-icons {
    display: flex;
    margin-top: 16px;
    margin-bottom: 20px;
    margin-left: 3px;

    & > a:not(:first-child) {
      margin-left: 19px;
    }

    &__icon {
      & .icon {
        width: 39px;
        height: 39px;
      }
    }
  }

  &__col2__description {
    margin-left: 3px;
    font-size: 18px;
  }

  &__col2__button {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
    padding: 15px 45px;
    border: 2px solid #fff;
    border-radius: 58px;
  }

  & a {
    font-weight: 800;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
  }

  &__inner {
    position: relative;

    & h2 {
      font-size: var(--base-font-size-xlarge);
    }

    &.section.theme a {
      color: var(--color-white);
    }
  }

  .almanac__list-navigation-arrow {
    background-color: var(--color-pink);

    &::after {
      border-color: var(--color-purple);
    }
  }

  &__bottom {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--color-white);
    background-color: var(--color-green-dark);

    &-logo,
    &-address,
    &-links {
      align-self: center;
    }

    &-address,
    &-links {
      padding-top: 10px;
    }

    &-logo {
      .logo__image {
        height: 41px;
        margin: 0;
      }
    }

    &-address {
      text-align: center;
    }

    &-links {
      font-size: var(--base-font-size-small);
      text-align: right;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          display: inline-flex;
          padding-left: 25px;

          a {
            color: var(--color-white);
          }
        }
      }
    }
  }
}
