.inspiration-overview {
  &__pageheader-headline {
    margin-bottom: 24px;
  }

  &__intro {
    margin-bottom: 32px;
    padding-right: var(--container-spacing-mobile);
    padding-left: var(--container-spacing-mobile);

    @media (--viewport-md-min) {
      margin-bottom: 50px;
      padding-right: 5%;
      padding-left: 5%;
      text-align: center;

      &-headline {
        margin-bottom: 24px;
        font-size: var(--base-font-size-xxxxlarge);
        line-height: 1.1;
      }

      &-description {
        font-size: var(--base-font-size-large);
      }
    }
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
    padding: var(--container-spacing-mobile);
    overflow: hidden;

    @media (--viewport-ms-min) {
      flex: 0 0 50%;
      width: 100%;
      max-width: 100%;
      padding: var(--container-spacing);
    }

    @media (--viewport-md-min) {
      flex: 0 0 25%;
      margin-bottom: 0;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__item-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 18px rgb(131 131 131 / 25%);
  }

  &__item-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--color-purple);
    text-decoration: none;

    &--blog {
      height: 100%;
    }
  }

  &__image {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 25px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 28px;
      height: 28px;
      padding: 5px;
      background-color: #fff;
      pointer-events: none;
    }
  }

  &__type {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    color: #fff;
    font-weight: 800;
    font-size: var(--base-font-size-extra-small);
    font-family: var(--base-font-family);
    text-decoration: none;
    background-color: var(--color-primary);

    &--bottom {
      top: auto;
      bottom: 0;
    }

    &.clickable {
      &:hover {
        opacity: 0.5; /* stylelint-disable-line */
      }
    }

    a {
      color: #fff !important; /* stylelint-disable-line */
      text-decoration: none;
    }

    &--news {
      background-color: var(--color-red);
    }

    &--blog {
      top: var(--container-spacing-mobile);
      left: var(--container-spacing-mobile);
      color: var(--color-purple-dark);
      background-color: var(--color-apricot);

      @media (--viewport-ms-min) {
        top: var(--container-spacing);
        left: var(--container-spacing);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 8px;
    color: var(--color-purple);

    &__wrapper {
      text-decoration: none;
    }
  }

  &__class {
    position: relative;
    margin-bottom: 4px;
    padding-left: 20px;
    font-size: var(--base-font-size-extra-small);

    .icon {
      position: absolute;
      top: 50%;
      left: 0;
      width: 15px;
      height: 18px;
      transform: translateY(-50%);
      fill: var(--color-purple);
    }
  }

  &__title {
    margin-bottom: 4px;
    color: var(--color-purple);
    font-weight: 600;
    font-size: var(--base-font-size-large);
    font-family: var(--heading-font-family);
    line-height: 1.3;
    text-decoration: none;
    word-break: break-word;
    hyphens: auto;

    &--authoring-information {
      margin-top: 10px;
      padding-right: 20px;
      padding-left: 20px;
      font-weight: normal;
      font-size: var(--base-font-size-small);
      hyphens: none;
    }

    &--blog-post {
      margin-bottom: 0 !important; /* stylelint-disable-line */
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &__date {
    margin-bottom: 4px;
    color: var(--color-purple);
    font-size: var(--base-font-size-extra-small);
    font-family: var(--base-font-family);
  }

  &__description {
    display: -webkit-box; /* stylelint-disable-line */
    margin-bottom: 8px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--color-purple);
    font-size: var(--base-font-size-small);
  }

  &__subject {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    padding: 0 20px 12px;

    &-item {
      display: inline-flex;
      margin-right: 8px;
      margin-bottom: 8px;
      padding: 5px 15px;
      font-weight: 800;
      font-size: var(--base-font-size-extra-small);
      font-family: var(--base-font-family);
      text-decoration: none;
      background-color: var(--color-yellow);

      .section.theme & {
        color: var(--color-purple);
      }
    }

    &-item--more-text {
      display: inline-flex;
      margin-right: 8px;
      margin-bottom: 8px;
      padding: 5px 0;
      font-weight: 600;
      font-size: var(--base-font-size-extra-small);
      font-family: var(--base-font-family);
    }
  }

  &__headline {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: var(--base-font-size-medium);
    font-family: var(--heading-font-family);
    line-height: 1.3;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__list-links {
    margin-top: 40px;
  }

  &__list-item {
    line-height: 1.3;
    list-style-type: none;
    border-bottom: 1px solid var(--color-pink);
  }

  &__list-item-link {
    display: inline-block;
    max-width: 100%;
    padding: 8px 0;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
    }
  }

  &__more-link {
    position: relative;
    display: inline-block;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;

    .icon {
      position: absolute;
      top: 50%;
      right: 0;
      width: 16px;
      height: 12px;
      transform: translateY(-50%);
      transition: right 0.3s ease; /* stylelint-disable-line */
      fill: var(--color-purple);
    }

    &:hover {
      .icon {
        right: -5px;
      }
    }
  }

  &__term {
    display: grid;
    grid-gap: var(--container-spacing-mobile);
    grid-template-columns: repeat(1, 1fr);

    @media (--viewport-ms-min) {
      grid-template-columns: repeat(2, 1fr);
      gap: 36px;
    }

    @media (--viewport-md-min) {
      grid-template-columns: repeat(3, 1fr);
      gap: 36px;
    }

    @media (--viewport-lg-min) {
      grid-template-columns: repeat(4, 1fr);
      gap: 36px;
    }
  }
}

.inspiration-overview__image .icon,
.inspiration-overview__type--bottom {
  right: 0;
  bottom: 0;
  left: auto;
  display: flex;
  align-items: center;
  padding: 0 6px;
  background-color: var(--color-primary);
}

.inspiration-overview__type__icon-container {
  margin-left: 3px;
}

.inspiration-overview__item-link + .inspiration-overview__list-links {
  margin-top: 24px;

  @media (--viewport-md-min) {
    margin-top: 44px;
  }
}

.ui-dialog.article-modal {
  width: 96% !important;
  padding: 0;
  font-family: var(--base-font-family);
  border-radius: 10px;

  @media (--viewport-sm-min) {
    width: 600px !important;
  }

  @media (--viewport-md-min) {
    width: 800px !important;
  }

  .ui-dialog-titlebar {
    padding: 10px var(--container-spacing);
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0 0 0 / 10%);
    border-radius: 0;
  }

  .ui-dialog-titlebar-close {
    right: 10px;
    width: 28px;
    height: 28px;
    margin: 0;
    background: var(--color-green-dark);
    border: none;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  .ui-button-icon {
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-top: 0;
    margin-left: 0;
    background: none;
    transform: translate(-50%, -50%);

    &::before {
      position: absolute;
      top: 4px;
      left: -2px;
      display: block;
      width: 14px;
      height: 2px;
      background-color: var(--color-white);
      transform: rotate(45deg);
      content: "";
    }

    &::after {
      position: absolute;
      top: 4px;
      left: -2px;
      display: block;
      width: 14px;
      height: 2px;
      background-color: var(--color-white);
      transform: rotate(-45deg);
      content: "";
    }
  }

  .ui-dialog-content {
    padding: 0 var(--container-spacing);
  }

  .article-page__modal h1 {
    display: none;
  }
}

.article-page__modal {
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  font-family: var(--base-font-family);

  &__content {
    display: flex;
    flex-flow: column;
    order: 2;

    @media (--viewport-sm-min) {
      order: 1;
      width: 50%;
      padding-right: var(--container-spacing);
    }
  }

  &__inner {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: var(--container-spacing) 0;

    @media (--viewport-sm-min) {
      flex-flow: row;
    }
  }

  &__image {
    display: flex;
    order: 1;
    margin-bottom: 10px;

    @media (--viewport-sm-min) {
      order: 2;
      width: 50%;
      margin-bottom: 0;
      padding-left: var(--container-spacing);
    }

    img {
      width: 100%;
      height: auto;
    }

    &-logo {
      display: flex;
      justify-content: center;

      img {
        max-height: 100px;
      }
    }
  }

  &-tags {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  &-tag {
    display: inline-flex;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
    font-weight: 800;
    font-size: var(--base-font-size-extra-small);
    font-family: var(--base-font-family);
    text-decoration: none;
    background-color: var(--color-yellow);
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin: 0 calc(var(--container-spacing) * -1);
    padding: 10px;
    border-top: 1px solid rgba(0 0 0 / 10%);

    a.button {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-height: 45px;
      padding: 0 20px;
      overflow: visible;
      color: var(--color-white);
      font-weight: 800;
      font-size: var(--base-font-size-small);
      font-family: var(--base-font-family);
      white-space: nowrap;
      text-decoration: none;
      background-color: var(--color-green-dark);
      border: 2px solid var(--color-green-dark);
      border-radius: 50px;
      cursor: pointer;
    }
  }
}
