.lexicon {
  &-teaser {
    .section--fullwidth & {
      padding-right: var(--container-spacing-mobile);
      padding-left: var(--container-spacing-mobile);

      @media (--viewport-md-min) {
        padding-right: var(--container-spacing);
        padding-left: var(--container-spacing);
      }
    }

    &__title {
      margin-bottom: 12px;
    }

    &__description {
      padding-bottom: 24px;
      font-size: var(--base-font-size-large);
    }

    &__articles {
      .lexicon__letter {
        display: none;
      }
    }
  }

  &__filters {
    margin-bottom: 36px;

    @media (--viewport-md-min) {
      margin-bottom: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      word-break: break-word;
      list-style-type: none;

      li {
        position: relative;
        display: inline-block;
        margin-right: 18px;
        margin-bottom: 12px;

        a {
          font-weight: var(--base-font-weight);
          font-size: var(--base-font-size-xlarge);
          font-family: var(--heading-font-family);

          @media (--viewport-md-min) {
            font-size: var(--base-font-size-xxlarge);
          }
        }
      }
    }
  }

  &__items {
    display: flex;
    flex-flow: column;
    margin-right: var(--half-gutter-compensation-mobile);
    margin-left: var(--half-gutter-compensation-mobile);

    @media (--viewport-md-min) {
      margin-right: var(--half-gutter-compensation);
      margin-left: var(--half-gutter-compensation);
    }

    @media (--viewport-ms-min) {
      flex-flow: row;
    }

    .inspiration-overview__item {
      height: auto;
      padding-right: var(--half-gutter-width-mobile);
      padding-left: var(--half-gutter-width-mobile);

      @media (--viewport-md-min) {
        padding-right: var(--half-gutter-width);
        padding-left: var(--half-gutter-width);
      }

      .inspiration-overview__content {
        padding-bottom: 36px;
      }
    }
  }
}
