.lexicon {
  .overview-form {
    &-contents {
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       column-gap: var(--gutter-width-mobile);

      @media (--viewport-md-min) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: var(--gutter-width);
      }

      @media (--viewport-lg-min) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

