.media-library-item__preview {
  min-height: 185px;
  background-image: url("../../../../../dist/images/file.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 35%;
}
