.news-page {
  .swiper-pagination-wrapper {
    display: flex;

    .swiper-pagination-title {
      font-size: 14px;
      margin-right: 55px;

      @media(--viewport-md-max) {
        margin-right: 54px;
      }
    }
  }

  .swiper-pagination-fraction {
    right: 105px;
    bottom: auto;
    left: auto;
    width: auto;
    font-size: 14px;
  }

  & .facts-box {
    &__content-item {
      display: block;
      &.user {
        display: flex;
        a {
          text-decoration: none;
          color: var(--color-purple);
        }
      }
    }
  }

  &__content {
    h2 {
      font-size: var(--base-font-size-xxlarge) !important;
    }
    h3 {
      font-size: var(--base-font-size-xlarge) !important;
    }
  }

  &__date {
    margin-bottom: 5px;
    font-weight: var(--heading-font-weight);
  }

  &__title {
    margin-bottom: 24px;
  }

  &__description {
    margin-bottom: 24px;
    font-size: var(--base-font-size-medium);
  }

  &__image {
    margin-bottom: 24px;
    text-align: center;
    @media (--viewport-md-min) {
      margin-bottom: 75px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
