.news-page {
  &__content {
    h2 {
      font-size: var(--base-font-size-xxlarge) !important;
    }
    h3 {
      font-size: var(--base-font-size-xlarge) !important;
    }
  }

  &__date {
    margin-bottom: 5px;
    font-weight: var(--heading-font-weight);
  }

  &__title {
    margin-bottom: 24px;
  }

  &__description {
    margin-bottom: 24px;
    font-size: var(--base-font-size-medium);
  }

  &__image {
    margin-bottom: 24px;
    text-align: center;
    @media (--viewport-md-min) {
      margin-bottom: 75px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
