.overview-form {
  &__search-input {
    position: relative;
    width: 100%;
    height: 49px;

    input[type="search"] {
      height: 53px;
      border-color: var(--theme-input-border-dark);
      border-radius: 25px;
    }

    & button.button {
      position: absolute;
      top: 0;
      right: 0;
      width: 70px;
      height: 49px;
      min-height: 49px;
      padding: 15px 0;
      background-color: transparent;

      svg {
        height: 100%;
      }
    }

    .lexicon-search-wrapper {
      @media (--viewport-sm-max) {
        width: 270px;
      }

      @media (--viewport-md-max) {
        width: 100%;
      }
    }

    & button {
      svg {
        display: none;
      }
    }
  }

  &-contents {
    display: grid;
    grid-template-columns: 1fr;

    @media (--viewport-ms-min) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (--viewport-md-min) {
      grid-template-columns: repeat(3, 1fr);
    }

    .inspiration-overview__item {
      height: auto;
      min-height: 100%;
      padding: var(--container-spacing-mobile);

      @media (--viewport-ms-min) {
        padding: var(--container-spacing);
      }

      @media (--viewport-md-min) {
        padding: var(--container-spacing);
      }
    }

    .pager {
      grid-column: 1 / -1;
      width: 100%;
      margin-top: 10px;
    }
  }

  .inspiration-overview__item-inner--goto-map {
    justify-content: center;
    padding: 48px;
    background-color: var(--color-blue);
    background-image: url("../../../../../dist/images/goto-map-cta-bg.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;

    .inspiration-overview__item-title {
      max-width: 200px;
      margin: 0 auto 24px;
      color: var(--color-white);
      font-weight: 600;
      font-size: var(--base-font-size-medium);
      text-align: center;
    }

    .button {
      margin: 0 auto;
      padding: 0 25px;
      color: var(--color-white);
      border: 2px solid var(--color-white);
    }
  }

  .inspiration-overview__item {
    min-height: auto;

    &--maplink {
      display: flex;
      font-weight: 800;
      font-size: var(--base-font-size-medium);
      text-align: center;

      .inspiration-overview__item-inner {
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 44px;
        color: var(--color-white);
        background: var(--color-blue-darker) url("../../../../images/dk-map.svg") no-repeat bottom left;
      }

      .inspiration-overview__item-title {
        margin-bottom: 15px;
      }

      .button {
        padding: 0 25px;
        border-color: var(--color-white);
      }
    }
  }

  &__header {
    margin-bottom: 26px;
  }

  &__search {
    &-filters {
      @media (--viewport-ms-max) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: none;
        background: white;

        &--active {
          display: block;
        }

        .accordion-buttons {
          display: none;
        }

        .accordion {
          position: absolute;
          top: 68px;
          bottom: 0;
          width: 100%;
          padding: 0 20px 20px;
          overflow: auto;
          overflow-x: hidden;
          overflow-y: scroll;
        }

        .filter-mobile-wrapper {
          display: flex;
        }
      }

      & legend {
        display: block;
        width: 100%;
        margin-bottom: 24px;
        font-weight: var(--heading-font-weight);
      }

      & fieldset {
        margin: 0 0 24px;
        padding: 0 0 24px;
        border-bottom: 1px solid rgba(61 41 89 / 30%);

        .form-item:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;

    @media (--viewport-sm-min) {
      justify-content: flex-end;
    }

    &-label {
      margin-right: 13px;
      font-size: var(--base-font-size-small);

      @media (--viewport-ms-max) {
        display: none;
      }
    }

    .form-item {
      margin-bottom: 0;
    }

    &__filter-button {
      position: relative;
      display: block;
      align-items: center;
      margin-right: 20px;
      padding: 16px 24px 14px 62px;
      color: currentcolor;
      font-weight: var(--button-font-weight);
      font-size: var(--base-font-size-small);
      font-family: var(--base-font-family);
      border: 1px solid var(--theme-input-border-dark);
      border-radius: 30px;
      cursor: pointer;

      @media (--viewport-sm-min) {
        display: none;
      }
    }

    .icon--filter-icon {
      position: absolute;
      top: 50%;
      left: 24px;
      width: 21px;
      height: 21px;
      transform: translateY(-50%);
    }
  }

  .accordion-item__text {
    transition: none;
  }

  .accordion-item__expanadable {
    .js-form-item {
      display: none;

      &:nth-child(-n + 4) {
        display: block;
      }
    }

    &--trigger {
      position: relative;

      & span {
        text-decoration: underline;
        cursor: pointer;
      }

      &-collapse {
        display: none;
      }
    }

    &.expanded {
      .js-form-item {
        display: block;
      }

      .accordion-item__expanadable--trigger {
        &-expand {
          display: none;
        }

        &-collapse {
          display: block;
        }
      }
    }
  }

  .button {
    display: none;
  }

  .container {
    .custom-accordion-wrapper {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }

    .custom-accordion-wrapper-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      margin-top: 40px;
      text-align: center;
    }
  }

  &__search-filters__mobile-header {
    display: none;

    @media (--viewport-ms-max) {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      color: white;
      font-weight: 800;
      font-size: var(--base-font-size-medium);
      background-color: var(--color-blue);

      & .icon--close {
        width: 20px;
        height: 20px;
        fill: white;
      }
    }
  }
}

.premium-dropdown--trigger {
  border-radius: 100px;
}

.overview-form__toolbar {
  @media (--viewport-ms-max) {
    align-items: end;
  }
}

#Search-leksikon {
  @media (--viewport-ms-max) {
  padding-left: 0;
  padding-right: 0;
  }
}

.overview-form__search-facets {
  margin-top: -12px;
  margin-left: auto;
  width: 250px;
  display: block;



  /* dekstop facet 'sort by' */
  @media (--viewport-ms-max) {
  display: none;
  }

  /* Sort by facet that appears on mobile view only */
   &--mobile {
    display: none;

    @media (--viewport-ms-max) {
      display: block;
    }
   }

}
