/**
 * Type: Organisms.
 * User page.
 */
.user-page {
  margin-top: 50px;

  &--user-profile-full-picture {
    text-align: center;

    img {
      width: 100%;
      width: -moz-available; /* WebKit-based browsers will ignore this. */
      width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
      width: fill-available;
      height: auto;
    }
  }
}
