<div id="lexicon-items" class="lexicon__items">
  {{ articles }}

  {% if pager %}
    <div class="lexicon__more_link">
      <a href="{{ path('sis_lexicon.get_articles', {'letter': letter, 'limit': 0, 'page': 0}) }}" id="lexicon_more-link"
         class="use-ajax">{{ 'Show all lexicon articles with the letter @letter'|t({'@letter': letter}) }}</a>
    </div>
  {% endif %}
</div>
