/**
 * Type: Theme.
 * Green theme.
 */

.theme-green {
  --theme-background-color: var(--color-green);
  --theme-color: var(--color-white);
  --theme-button-background-color: var(--color-pink);
  --theme-button-color: var(--color-purple);
  --theme-arrow-background-color: var(--color-pink);
  --theme-arrow-color: var(--color-purple);
  --theme-link-color: var(--color-white);
  --theme-divider-background-color: #ffefe5;
  --theme-accordion-color: var(--color-white);
  --theme-input-border: #ffefe5;
  --theme-input-color-marked: #ffefe5;
}
