<div{{ attributes.addClass(['section', 'section-form', 'section--spacing-top-medium', 'section--spacing-bottom-none']) }}>
  <div class="container">
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
      <h1>{{ content }}</h1>
    {% endblock %}
  </div>
</div>
