{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('sis/burger-menu') }}
<div id="burger-menu--overlay" class="burger-menu--overlay js-burger-menu--overlay">
  <div id="burger-menu" class="burger-menu">
    <div id="burger-menu--close" class="burger-menu--close">
      <span></span>
      <span></span>
    </div>
    <div class="burger-menu__inner">
      <div class="burger-menu__main">
        {{ elements.mainnavigation_bm }}
      </div>
      <div class="burger-menu__meta">
        {{ elements.metamenu_bm }}
      </div>
    </div>
  </div>
</div>
